main .layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    width: 100%;
}

input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:hover,
input:focus {
    border-color: rgba(0, 0, 0, 1);
    outline: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.cards .card {
    height: 420px;
}

.cards .card img {
    height: 200px;
}

@media (min-width: 1400px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) and (max-width: 1399px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .cards {
        grid-template-columns: 1fr;
    }
    
    .cards .card {
        max-width: 100%;
    }
}

.request-link {
    position: fixed;
    bottom: 20px;
    left: 20px;

    background-color: #004FC7;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;

    z-index: 1000;
    padding: 10px;

    box-sizing: border-box;
    border: none;
}

.request-link-icon {
    width: 62px;
    height: 59px;
    filter: brightness(0) invert(1);
}

.request-link-number {
    position: absolute;
    top: 55%;
    left: 45%;

    transform: translate(-50%, -50%);
    font-size: 20px;

    color: white;
}

.request-link-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}